body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-open .modal {
  overflow: hidden;
  max-height: 90vh;
}

.modal-body {
  overflow: scroll;
  max-height: 50vh;
}

.row {
  padding: 25px 14px 0;
}
